<!--
CMP4配置文件

所有配置参数说明请见：http://bbs.cenfun.com/thread-10891-1-1.html

更多详细参数说明，请参见CMP交流论坛http://bbs.cenfun.com/
-->
<cmp 
	name = "可业杂货铺" 
	link = "https://keyestore.github.io/" 
	description = "『生活需要音乐』 - https://keyestore.github.io/"
	logo = "{src:log.png,xywh:[0R,0R,0,0]}"
	
	skins = "skins/mini/vplayer.zip,skins/default.zip,skins/xdj.zip,skins/qqplayer.zip,skins/wmp11.zip,skins/exobud.zip,skins/tudou.zip"
	plugins = ""
	backgrounds = ""
	lists = ""
	
	src_handler = "" 
	lrc_handler = ""

	skin_id = ""

	play_mode = "1"
	play_id = "1"
	auto_play = "1"
	list_delete = ""
	
	sound_sample = "true"
	mixer_displace = "true"
	mixer_filter = "true"	
	mixer_id = "5"
	mixer_color = "a4eb0c"
	
	counter = "http://img.users.51.la/3389672.asp"
/>